Repository nu-radio/NuRadioMC, pull requests merged in 2025-06, with the labels that each got.

#939 Add download of sample data to LOFAR interactive example
  .gitignore
  NuRadioReco/examples/Interactive/read_lofar_data.ipynb
  README.md
Labels: Documentation/CI/Examples

#945 Fix order such that kwargs override the defaults
  NuRadioReco/modules/io/coreas/coreasInterpolator.py
  changelog.txt
Labels: Bug

#946 Updated SKA plotter
  NuRadioReco/detector/SKA/detector.py
Labels: cleanup, Detector

#933 Introduce the module NuRadioReco.utilities.constants which defines co…
  NuRadioMC/EvtGen/generator.py
  NuRadioMC/EvtGen/tests/T03_tau_length.py
  NuRadioMC/EvtGen/tests/T07_read_tab.py
  NuRadioMC/EvtGen/tests/T09_plot_PROPOSAL_diff.py
  NuRadioMC/simulation/scripts/T05visualize_sim_output.py
  NuRadioMC/simulation/scripts/T05visualize_sim_outputExtend.py
  NuRadioMC/utilities/inelasticities.py
  NuRadioReco/utilities/constants.py
  NuRadioReco/utilities/units.py
Labels: New Feature, Utilities

#852 Add a RNO-G data processing example notebook
  NuRadioReco/examples/Interactive/processing-RNOG-files.ipynb
Labels: Documentation/CI/Examples

#948 Hotfix release v3.0.3
  .github/workflows/build_and_publish.yaml
  NuRadioMC/simulation/output_writer_hdf5.py
  NuRadioReco/detector/detector_base.py
  NuRadioReco/modules/io/coreas/coreasInterpolator.py
  NuRadioReco/modules/io/eventWriter.py
  NuRadioReco/utilities/io_utilities.py
  changelog.txt
  pyproject.toml
Labels: Bug
