Repository nu-radio/NuRadioMC, pull requests merged in 2025-03, with the labels that each got.

#854 Add data driven noise
  NuRadioReco/modules/channelGenericNoiseAdder.py
Labels: NuRadioMC, New Feature

#864 Remove deprecated `time_resolution` from simulation config
  NuRadioMC/simulation/config_default.yaml
  NuRadioMC/simulation/simulation.py
Labels: NuRadioMC, cleanup

#861 Extend PR template
  pull_request_template.md
Labels: New Feature, Utilities

#862 Add caching to the efieldToVoltageConverter
  NuRadioReco/detector/SKA/ska_channels.json
  NuRadioReco/modules/channelGalacticNoiseAdder.py
  NuRadioReco/modules/efieldToVoltageConverter.py
  NuRadioReco/utilities/geometryUtilities.py
  NuRadioReco/utilities/trace_utilities.py
Labels: NuRadioReco, New Feature, Utilities

#866 readRNOGDataMattak: add fallback solution for the case of inf trigger times
  NuRadioReco/modules/io/RNO_G/readRNOGDataMattak.py
Labels: RNO-G, NuRadioReco, New Feature

#860 Add module for Galactic noise on Efields
  NuRadioReco/modules/channelGalacticNoiseAdder.py
  NuRadioReco/modules/efieldGalacticNoiseAdder.py
  NuRadioReco/utilities/trace_utilities.py
  changelog.txt
  pyproject.toml
Labels: NuRadioReco, New Feature

#874 Introduce hit filter fs
  NuRadioReco/modules/RNO_G/stationHitFilter.py
Labels: RNO-G, NuRadioReco, New Feature

#875 Make add_to_trace compatible with 3d traces
  NuRadioReco/framework/base_trace.py
Labels: Core/Framework, New Feature

#868 Move implementation of median-blockoffset-removal function from reader to dedicated module
  NuRadioReco/modules/RNO_G/channelBlockOffsetFitter.py
  NuRadioReco/modules/io/RNO_G/readRNOGDataMattak.py
Labels: RNO-G, NuRadioReco, cleanup

#871 Simplify function convert_obs_positions_to_nuradio_on_ground
  NuRadioReco/modules/io/coreas/coreas.py
Labels: NuRadioMC, cleanup

#877 Add other CSW variables in stationCoherentlySummedWaveforms.py
  NuRadioReco/framework/parameters.py
  NuRadioReco/modules/RNO_G/stationCoherentlySummedWaveforms.py
Labels: RNO-G, NuRadioReco

#876 Fix/correct station14 station11 geometries
  NuRadioReco/detector/RNO_G/RNO_season_2021.json
  NuRadioReco/detector/RNO_G/RNO_season_2022.json
  NuRadioReco/detector/RNO_G/RNO_season_2023.json
  NuRadioReco/detector/RNO_G/RNO_season_2024.json
  NuRadioReco/detector/visualize_detector.py
Labels: RNO-G

#881 Do not try to load run table by default
  NuRadioReco/modules/io/RNO_G/readRNOGDataMattak.py
Labels: RNO-G, NuRadioReco

#867 Adding Hit Filter to NuRadioReco
  NuRadioReco/examples/RNOG/data_analysis_example.py
  NuRadioReco/examples/RNOG/data_analysis_example_advanced.py
  NuRadioReco/modules/RNO_G/stationHitFilter.py
Labels: RNO-G, NuRadioReco, New Feature

#878 Implement core resampling method (from BaseTrace class) in utilities. Make warning smarter
  NuRadioReco/framework/base_trace.py
  NuRadioReco/modules/ARA/hardwareResponseIncorporator.py
  NuRadioReco/modules/ARIANNA/hardwareResponseIncorporator.py
  NuRadioReco/modules/channelAddCableDelay.py
  NuRadioReco/modules/channelReadoutWindowCutter.py
  NuRadioReco/utilities/signal_processing.py
Labels: NuRadioMC, cleanup

#879 Fix formatting of logger debug output in antennapattern
  NuRadioReco/detector/antennapattern.py
Labels: Bug, cleanup

#880 Use NuRadio units in io/LOFAR
  NuRadioReco/modules/LOFAR/stationRFIFilter.py
  NuRadioReco/modules/io/LOFAR/__init__.py
  NuRadioReco/modules/io/LOFAR/_rawTBBio.py
  NuRadioReco/modules/io/LOFAR/_rawTBBio_metadata.py
  NuRadioReco/modules/io/LOFAR/_rawTBBio_utilities.py
  NuRadioReco/modules/io/LOFAR/readLOFARData.py
Labels: LOFAR

#889 Small fix and improvement to RNO-G detector class
  NuRadioReco/detector/RNO_G/rnog_detector.py
Labels: RNO-G, Bug

#886 Docstring
  NuRadioReco/detector/RNO_G/rnog_detector.py
Labels: RNO-G, Documentation/CI/Examples

#869 Move functions around in NuRadioReco/utilities
  NuRadioReco/detector/filterresponse.py
  NuRadioReco/eventbrowser/apps/trace_plots/multi_channel_plot.py
  NuRadioReco/examples/AliasPhasedArray/Noise_trigger_rate/noise_trigger_rate.py
  NuRadioReco/examples/AliasPhasedArray/SNR_study/T02SNRNyquist.py
  NuRadioReco/examples/EnvelopePhasedArray/Effective_volume/T02RunPhasedRNO_shortband.py
  NuRadioReco/examples/IFT_electric_field_reconstruction.py
  NuRadioReco/examples/PhasedArray/Effective_volume/T02RunPhasedARA.py
  NuRadioReco/framework/base_trace.py
  NuRadioReco/modules/ARA/hardwareResponseIncorporator.py
  NuRadioReco/modules/ARIANNA/hardwareResponseIncorporator.py
  NuRadioReco/modules/__init__.py
  NuRadioReco/modules/analogToDigitalConverter.py
  NuRadioReco/modules/channelAddCableDelay.py
  NuRadioReco/modules/channelBandPassFilter.py
  NuRadioReco/modules/channelGalacticNoiseAdder.py
  NuRadioReco/modules/channelReadoutWindowCutter.py
  NuRadioReco/modules/efieldGalacticNoiseAdder.py
  NuRadioReco/modules/efieldToVoltageConverter.py
  NuRadioReco/modules/efieldToVoltageConverterPerEfield.py
  NuRadioReco/modules/electricFieldBandPassFilter.py
  NuRadioReco/modules/iftElectricFieldReconstructor/iftElectricFieldReconstructor.py
  NuRadioReco/modules/neutrinoVertexReconstructor/neutrino3DVertexReconstructor.py
  NuRadioReco/modules/voltageToAnalyticEfieldConverter.py
  NuRadioReco/modules/voltageToEfieldConverter.py
  NuRadioReco/modules/voltageToEfieldConverterPerChannel.py
  NuRadioReco/modules/voltageToEfieldConverterPerChannelGroup.py
  NuRadioReco/utilities/__init__.py
  NuRadioReco/utilities/_deprecated/__init__.py
  NuRadioReco/utilities/_deprecated/bandpass_filter.py
  NuRadioReco/utilities/_deprecated/traceWindows.py
  NuRadioReco/utilities/_deprecated/variableWindowSizeCorrelation.py
  NuRadioReco/utilities/analytic_pulse.py
  NuRadioReco/utilities/bandpass_filter.py
  NuRadioReco/utilities/dataservers.py
  NuRadioReco/utilities/diodeSimulator.py
  NuRadioReco/utilities/geometryUtilities.py
  NuRadioReco/utilities/signal_processing.py
  NuRadioReco/utilities/traceWindows.py
  NuRadioReco/utilities/trace_utilities.py
  NuRadioReco/utilities/variableWindowSizeCorrelation.py
  changelog.txt
Labels: Utilities, cleanup

#893 Avoid zero-division in channelSignalReconstructor. Disable VEL caching in simulation.py
  NuRadioMC/simulation/simulation.py
  NuRadioReco/modules/channelSignalReconstructor.py
  NuRadioReco/modules/efieldToVoltageConverter.py
Labels: NuRadioMC
