Repository nu-radio/NuRadioMC, pull requests merged in 2025-05, with the labels that each got.

#924 Read git hash on import
  NuRadioReco/utilities/version.py
Labels: Bug, Utilities

#855 Add strides to high low trigger and remove extra +1 from window sizes
  NuRadioReco/modules/trigger/highLowThreshold.py
Labels: NuRadioMC, New Feature

#927 Hotfix/event deserialization
  .github/workflows/build_and_publish.yaml
  NuRadioReco/framework/event.py
  NuRadioReco/utilities/geometryUtilities.py
  changelog.txt
  pyproject.toml
Labels: Core/Framework, Bug

#918 Updates attenuation calculation for the cpp wrapper. Implements numba support for the python version of the GL3 attenuation model
  NuRadioMC/SignalProp/CPPAnalyticRayTracing/analytic_raytracing.cpp
  NuRadioMC/SignalProp/examples/compare_attenuation.py
  NuRadioReco/modules/channelGalacticNoiseAdder.py
Labels: NuRadioMC, Utilities

#935 NuRadioReco.detector.response: fix bug in get()
  NuRadioReco/detector/response.py
Labels: NuRadioReco, Bug

#923 Patch attenuation.h
  NuRadioMC/SignalProp/CPPAnalyticRayTracing/analytic_raytracing.cpp
  NuRadioMC/SignalProp/CPPAnalyticRayTracing/wrapper.pyx
  NuRadioMC/utilities/attenuation.h
  NuRadioMC/utilities/attenuation.py
Labels: NuRadioMC, Bug, New Feature

#865 Analytic plane wave fitter
  NuRadioReco/utilities/geometryUtilities.py
Labels: NuRadioReco, New Feature
